<div class="ui grid ">

  <div class="ui vertical divider"></div>
  
  <div class="ui list">
    <p>Home / Footwear / Shoes & Footwear</p>
    <div class="item">
      <h3 class="ui header">Men</h3>
    </div>
    <div class="item">
      <h3 class="ui header">Women</h3>
    </div>
    <div class="item">
      <h3 class="ui header">Boys</h3>
    </div>
    <div class="item">
      <h3 class="ui header">Girls</h3>
    </div>
    <h1 class="ui header">CATEGORIES</h1>
    <div class="ui form">
      <div class="grouped fields">
        <div class="field">
          <div class="ui  checkbox">
            <input type="radio" name="example2" checked="checked">
            <label>Casual Shoes</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="example2">
            <label>Heels</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="example2">
            <label>Flats</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="example2">
            <label>Sports Shoses</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="example2">
            <label>Formal Shoes</label>
          </div>
        </div>
        <div class="field">
          <div class="ui checkbox">
            <input type="radio" name="example2">
            <label>Sandels</label>
          </div>
        </div>
        <div class="field">
          <div class="ui  checkbox">
            <input type="radio" name="example2">
            <label>Filip Flops</label>
          </div>
        </div>
        <div class="field">
          <div class="ui  checkbox">
            <input type="radio" name="example2">
            <label>Sport Sandals</label>
          </div>
        </div>
  
      </div>
    </div>
  </div>
  
</div>