.ui.menu .item:before{
    background:none ;
}
.ui.menu{
    border: 
    none;
    box-shadow: none;
    border-radius: 0px;
}
.ui.dropdown{
    padding: 0px;
}
.center{
    
    margin-left: 1%;
}
.ui[class*="four column"].grid>.column:not(.row), .ui[class*="four column"].grid>.row>.column {
    width: 24%;
}