/* You can add global styles to this file, and also import other style files */
.ui.menu .item:before{
    background:none ;
}
.ui.menu{
    border: 
    none;
    box-shadow: none;
    border-radius: 0px;
}

@media only screen and (min-width: 200px) and (max-width: 800px) {
    .small-log{
        height: 100px;
        width: 100px;
        
    }
    
    }
    
    

